@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-uthmanic-hafs: "Uthmanic Hafs", serif;
  --font-qcf2-bsml: "QCF2BSML", serif;
  --font-eb-garamond: "EB Garamond", serif;
  --font-serif: "EB Garamond", serif;
}

@font-face {
  font-family: "Uthmanic Hafs";
  src: url("/fonts/uthmanic_hafs_v20.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QCF2BSML";
  src: url("/fonts/QCF2BSML.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
