---
interface Props {
  surah: number;
  ayah: number;
  language: string;
  translation_id: string;
}

const { surah, ayah, language, translation_id } = Astro.props;

// Dynamically import translation data
const translationData = await import(
  `../data/translations/${language}/${translation_id}.json`
);

// Get the translation text for this specific ayah
const translationText =
  translationData.default[surah.toString()]?.[ayah.toString()] || "";
---

<p
  class="mt-8 font-sans text-xl leading-8 font-light text-black dark:text-white"
>
  {translationText}
</p>
