---
import hafsData from "../data/hafs.json";

interface Props {
  surah: number;
}

const { surah } = Astro.props;

const surahData = hafsData.find((aya) => aya.sura_no === surah);
---

<span class="font-uthmanic-hafs text-3xl">{surahData?.sura_name_ar}</span>
